.container {
  text-align: center;
  margin-top: 50px;
}

.buttons {
  margin-top: 20px;
}

button {
  margin: 5px;
}

#tapeImage {
  width: 500px;
  height: 250px;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}
